.add-table-header {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  margin: 0px;
  padding: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

hr {
  color: #cbd2d9;
  background-color: #cbd2d9;
  border-width: 0px;
  height: 1px;
  width: 100%;
  max-width: 800px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.internal-cont {
  display: flex;
  width: 100%;
  margin-left: 18px;
  margin-right: 18px;
}

.li-table-title {
  width: 24%;
  margin-top: 10px;
  overflow: auto;
  margin-right: 10px;
}

.li-table-amount {
  width: 24%;
  margin-top: 10px;
  overflow: auto;
  margin-right: 10px;
}

.li-table-type {
  width: 40%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 10px;
}

.li-option {
  margin-top: 0px;
}

.li-delete-btn {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  cursor: pointer;
  outline: none;
  background-color: #ffffff;
  border-width: 0px;
  margin-top: 3px;
}

.li-delete-icon {
  width: 20px;
  margin: 0px;
}

@media screen and (max-width: 576px) {
  .li-table-title {
    width: 22%;
    margin-top: 10px;
    overflow: auto;
    margin-right: 10px;
  }

  .li-table-amount {
    width: 22%;
    margin-top: 10px;
    overflow: auto;
    margin-right: 10px;
  }

  .li-table-type {
    width: 40%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 10px;
  }
}
